$PrimaryForegroundColor: rgb(41, 150, 204)
$PrimaryBackgroundColor: white
$HeaderHeight: 0.4in
$HeaderPadding: 5px
$StatusbarHeight: 15px

// GOOGLE ICON FONTS
@font-face
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    src: url(../fonts/MaterialIcons/MaterialIcons-Regular.eot) /* For IE6-8 */
    src: local('Material Icons')
    src: local('MaterialIcons-Regular')
    src: url('../fonts/MaterialIcons/MaterialIcons-Regular.woff2') format('woff2')
    src: url('../fonts/MaterialIcons/MaterialIcons-Regular.woff') format('woff')
    src: url('../fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype')

.material-icons
    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    font-size: 24px  /* Preferred icon size */
    display: inline-block
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility

    /* Support for Firefox. */
    // -moz-osx-font-smoothing: grayscale

    /* Support for IE. */
    //font-feature-settings: 'liga'

// //END GOOGLE ICON FONTS

@font-face
    font-family: AppFont
    src: url(../fonts/Raleway-Regular.ttf)

*
    font-family: AppFont
    -webkit-user-select: none
    -webkit-appearance: none

*:focus
    outline: none

*:active
    background: auto

html, body
    padding: 0
    margin: 0
    min-height: 100%
    min-width: 100%

a
    text-decoration: none

input, select, option
    width: 100%
    background: none
    padding: 8px
    box-sizing: border-box
    border: 0
    color: #D2D7D3
    font-size: 24px
    transition: border-color 1s, color 2s
    -webkit-user-select: auto !important

input:focus, select:focus, option:focus
    color: $PrimaryForegroundColor
    border-color: 2px solid $PrimaryForegroundColor


input[type=submit], button
    color: $PrimaryBackgroundColor
    background: $PrimaryForegroundColor
    border: none
    padding: 10px

.header
    z-index: 10
    position: fixed
    width: 100%
    box-sizing: auto
    padding: 5px
    padding-top: $StatusbarHeight + $HeaderPadding
    height: $HeaderHeight
    background: rgba(255, 255, 255, 0.9)
    text-align: center
    top: 0
    line-height: $HeaderHeight
    vertical-align: middle
    font-weight: bold
    vertical-align: middle

.header-left, .header-right
    box-sizing: border-box
    position: absolute
    font-size: 15px
    vertical-align: middle
    font-weight: normal

    i
        vertical-align: middle

    span
        vertical-align: middle

.header-left
    left: 0
    margin-left: $HeaderPadding*2

.header-right
    right: 0
    margin-right: $HeaderPadding*2

.header-spacer
    height: $HeaderHeight

.container
    padding-top: 25px

.app-colors
    color: #6F4E37
    background: $PrimaryBackgroundColor

.app-colors-inverted
    color: $PrimaryBackgroundColor
    background: #6F4E37

.no-background
    background: none

.stick-bottom
    position: fixed
    bottom: 0
    margin-bottom: 20px

.float-right
    position: fixed
    float: right
    right: 0
    margin-right: 20px

.align-left
    text-align: left