html, body, .container {
  height: 100%; }

body {
  background-image: url(../../img/coffee-splash.jpg);
  background-size: auto 100%;
  background-position: center;
  background-color: #6F4E37;
  background-attachment: fixed; }

.container {
  background: rgba(0, 0, 0, 0.5); }

#login-form {
  padding: 25px;
  padding-top: 50%;
  box-sizing: border-box;
  text-align: center;
  color: white; }
  #login-form input {
    background: none;
    width: 100%;
    color: white;
    border: none;
    border-radius: 3px;
    transition: 1s all;
    text-align: center; }
  #login-form input[type='submit'] {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 7px; }
  #login-form hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0; }

::-webkit-input-placeholder {
  color: white; }

/*# sourceMappingURL=login.css.map */
