html, body {
  max-width: 100%;
  background-image: url(../../img/coffee-splash.jpg);
  background-size: auto 100%;
  background-position: center;
  background-color: #6F4E37;
  background-attachment: fixed; }

input, select, option {
  width: 100%;
  margin-bottom: 10px; }

body {
  background: rgba(0, 0, 0, 0.7); }

#signup-form {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px; }

/*# sourceMappingURL=signup.css.map */
