@import 'https://fonts.googleapis.com/css?family=Lobster'

body
    background-image: url(../img/coffee-splash.jpg)
    background-size: auto 100%
    background-position: center
    background-color: #6F4E37

#backsplash
    color: white
    text-align: center
    margin-top: 25%
    font-size: 100px
    font-family: "Lobster", cursive

#action-wrapper
    text-align: center
    width: 100%
    height: auto
    position: absolute
    margin-top: 10%

#login-button, #signup-button
    opacity: 0.8
    border-radius: 10px
    margin-top: 10px
    width: 80%
    border: 0
    padding: 20px
    box-sizing: border-box
    font-size: 24px