@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: local("Material Icons");
  src: local("MaterialIcons-Regular");
  src: url("../fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2");
  src: url("../fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff");
  src: url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  /* Support for IE. */ }

@font-face {
  font-family: AppFont;
  src: url(../fonts/Raleway-Regular.ttf); }
* {
  font-family: AppFont;
  -webkit-user-select: none;
  -webkit-appearance: none; }

*:focus {
  outline: none; }

*:active {
  background: auto; }

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%; }

a {
  text-decoration: none; }

input, select, option {
  width: 100%;
  background: none;
  padding: 8px;
  box-sizing: border-box;
  border: 0;
  color: #D2D7D3;
  font-size: 24px;
  transition: border-color 1s, color 2s;
  -webkit-user-select: auto !important; }

input:focus, select:focus, option:focus {
  color: #2996cc;
  border-color: 2px solid #2996cc; }

input[type=submit], button {
  color: white;
  background: #2996cc;
  border: none;
  padding: 10px; }

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  box-sizing: auto;
  padding: 5px;
  padding-top: 20px;
  height: 0.4in;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  top: 0;
  line-height: 0.4in;
  vertical-align: middle;
  font-weight: bold;
  vertical-align: middle; }

.header-left, .header-right {
  box-sizing: border-box;
  position: absolute;
  font-size: 15px;
  vertical-align: middle;
  font-weight: normal; }
  .header-left i, .header-right i {
    vertical-align: middle; }
  .header-left span, .header-right span {
    vertical-align: middle; }

.header-left {
  left: 0;
  margin-left: 10px; }

.header-right {
  right: 0;
  margin-right: 10px; }

.header-spacer {
  height: 0.4in; }

.container {
  padding-top: 25px; }

.app-colors {
  color: #6F4E37;
  background: white; }

.app-colors-inverted {
  color: white;
  background: #6F4E37; }

.no-background {
  background: none; }

.stick-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px; }

.float-right {
  position: fixed;
  float: right;
  right: 0;
  margin-right: 20px; }

.align-left {
  text-align: left; }

/*# sourceMappingURL=default.css.map */
