* {
	font-family: monospace;
}

body {
	background: rgb(100, 100, 100);
}

.container {
	margin-left: 10%;
	margin-right: 10%;
}

article {
	background: lightblue;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 30px;
}

article > h1 {
	font-size: 24px;
	margin: 0;
}